<html>
<head>
    <meta charset="utf-8">
    <title>Codigo.Live - Online code editor</title>
    <meta name="description"
          content="Online code runner and editor with collaborative features. Perfect for remote coding interviews.">
    <meta name="keywords"
          content="code, interview, online, run, executor, execute, collaborative, javascript, live, html, css, php, ruby, java">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Luis Bravo Anato">

    <% var id = id || ''; %>
    <meta id="meta-url" property="og:url" content="http://codigo.live/<%= id || '' %>"/>
    <meta id="meta-title" property="og:title" content="Codigo.Live - Online code editor"/>
    <meta id="meta-description" property="og:description"
          content="Online code runner and editor with collaborative features. Perfect for remote coding interviews."/>
    <meta id="meta-image" property="og:image" content="http://codigo.live/<%= (id)? 'qr/' + id : 'img/home_small.jpg'%>"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-82843467-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>