<% include header %>
    <div id="wrapper"></div>
    <script type="text/javascript" src="http://codigo.live:3000/socket.io/socket.io.js" charset="utf-8"></script>
    <script type="text/javascript" src="ace/ace.js" charset="utf-8"></script>
    <script type="text/javascript" src="app.min.js" charset="utf-8"></script>
<% include footer %>